$base-color: lightblue;
$light-color: lighten($base-color, 20%);
$dark-color: darken($base-color, 35%);

.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient($light-color, $dark-color);
}

.console {
  background: rgba(213, 213, 213, 0.99);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 10px;
  @media screen and (min-width: 600px) {
    padding: 20px;
    border-radius: 30px;
    height: initial;
    width: initial;
  }
}

.screen {
  background: #93be57;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  height: 260px;
  width: 260px;
}

.screen-border {
  background: darkgrey;
  padding: 30px;
  border-radius: 15px 15px 45px 15px;
  width: max-content;
}
