.info__container {
  font-family: 'Share Tech Mono';
  color: black;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.next-piece__screen__container {
  //border: black 3px solid;
  width: 100px;
  height: 100px;
}