@font-face {
  font-family: pixel;
  src: url('../../styles/fonts/minecraft.ttf');
}

.info__container {
  font-family: pixel;
  color: black;
  width: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.next-piece__screen__container {
  //border: black 3px solid;
  width: 100px;
  height: 100px;
}