.block {
  display: inline-block;
  height: 30px;
  width: 30px;
  //border-radius: 3px; ugly

  &__color--1 {
    background: #54ffd5;
  }
  &__color--2 {
    background: #95c8ff;
  }
  &__color--3 {
    background: #ffc0fd;
  }
  &__color--4 {
    background: #f7ffce;
  }
  &__color--5 {
    background: #f984ff;
  }
  &__color--6 {
    background: #ff5a5c;
  }
  &--delete {
    animation: blinker 1s linear infinite;
  }
}

.frame {
  border: darkslateblue solid 3px;
}

@keyframes blinker {
  50% { opacity: 0; }
}