$wide: 25px;
$long: 30px;


.cross {
  &__row {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  &__element {
    display: block;
    background: black;
  }

  &__core {
    @extend .cross__element;
    height: $wide;
    width: $wide;
  }

  &__vertical{
    @extend .cross__element;
    height: $long;
    width: $wide;
  }

  &__horizontal{
    @extend .cross__element;
    height: $wide;
    width: $long;
  }
}
